In [1]:
import pandas as pd

In [2]:
rentals = pd.read_csv('cleaned_datasets/rentals.csv')

In [3]:
rentals.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Gender_Info
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.000000,2,Female
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.000000,1,Male
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.000000,2,Female
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.000000,1,Male
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,1979.335276,0,Unknown

#### Creating new columns to be used as primary keys

In [4]:
rentals['User ID'] = range(1, len(rentals)+1)
rentals['Trip ID'] = range(1, len(rentals)+1)

In [6]:
# Create User table
user = rentals[['User ID', 'User Type', 'Birth Year', 'Gender_Info']].drop_duplicates()

In [7]:
# create bike table
bike = rentals[['Bike ID']].drop_duplicates()

In [8]:
# Create the station table
start_station = rentals[['Start Station ID', 'Start Station Name', 'Start Station Latitude', 
                         'Start Station Longitude']].drop_duplicates()

end_station = rentals[['End Station ID', 'End Station Name', 
                       'End Station Latitude', 'End Station Longitude']].drop_duplicates()

# renaming columns
start_station.columns = ['Station ID', 'Station Name', 'Station Latitude', 'Station Longitude']
end_station.columns = ['Station ID', 'Station Name', 'Station Latitude', 'Station Longitude']


# merging
station = pd.concat([start_station, end_station]).drop_duplicates()

In [9]:
# create trip table

trip = rentals[['Trip ID', 'Trip Duration', 'Start Time', 'Stop Time', 
           'User ID', 'Bike ID', 'Start Station ID', 'End Station ID']]

Converting these dataframes into csv

In [12]:
df = {'trip': trip, 'station': station, 'bike': bike, 'user': user}

for name,dataframes in df.items():
    dataframes.to_csv(f'normalized_datasets/{name}.csv', index=False)